
.container__product{
    /* can giua danh muc san pham */
    margin:auto;
    width: 1200px;
    text-align: center;
}
.container__product__tiltle{
    text-align: left;
    font-size: 20px;
    /* margin-bottom: 70px; */
    width: 1000px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


#openAddForm{ 
    width: 140px;
    height: 30px;
    background-color: #5B42F3;
    font-size:15px;
}


.container__table{
    width: 100%;
}

.container__table tr td {
    padding: 12px 0;
    /* tao duong ke giua moi gian hang */
    border-bottom: 1px solid rgb(197, 197, 197) ;
 
}


.td__product__name{
  text-align: center;
}
/* chinh anh trong gio hang */
.td__product__img img{
    width: 70px;
}

.container__addProduct{
    position: fixed;
    width: 800px;
	height: 550px;
    top:15%;
    left:25%;
    background-color: rgb(255, 255, 255);
    display: none;

}
/* nut X DONG FORM */
#closeAddForm{
    background-color: red;
    position: absolute;
    top:10px;
    right:10px;
    width: 20px;
    height: 20px;
}

.addProduct__title{   	
	text-align: center;
	padding-top: 2.5rem;
	padding-left:2rem;
	font-size:2rem;
    color:blue;
}


.form__input-wrap{
	padding:0 2rem;
}

.form__input{
	margin-top: 30px;
	height: 45px;
	width: 100%;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 10px;
}


.btn-submit{
	width: 20%;
	height: 45px;
	/* padding: 15px 210px; */
	border: none;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
	color: #fff;
    border-radius: 2rem;
}

.form__input-wrap-submit{
    display: flex;
    justify-content: center;
}

/* bang hien thong bao them thanh cong */

.alert {
    position: fixed;
    bottom:10px;
    left:10px;
    padding:10px;
    
    width: 400px;
    border-radius:5px;
    box-shadow:0 0 15px 5px #ccc;
    font-family:Quicksand;
    font-size: 1.6rem;
    visibility: hidden;
    /* transition: visibility 3s, opacity 0.5s linear; */

}

.alert-addCartSuccess{
    background-color: #a8f0c6;
}
