*{
    /* chinh le the li */
    padding:0px;
}



.wrapper{

    top:0px;
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #4b4276;
    padding: 30px 0px;
}

.sidebar{
    width: 200px;
    height: 100%;
    
}
.sidebar__shopname{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-size:2rem;
  font-weight: bold;
  font-style: italic;
}

.wrapper .sidebar li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    list-style: none;
    text-decoration: none;
    text-transform: uppercase; 
  }    
  .li{
      padding:0;
  }
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    text-decoration: none;
  }
  
  .sidebar__icon{
      width:25px;
  }
  .wrapper .sidebar ul li:hover{
    background-color: #594f8d;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }

  /* --------------------------DANH MUC SAN PHAM ----------------------- */
  /* phan tieu de */
.container__product{
    /* can giua danh muc san pham */
    margin:auto;
    width: 1300px;
    text-align: center;
}
.container__product__tiltle{
    text-align: left;
    font-size: 20px;
    /* margin-bottom: 70px; */
    width: 1000px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/*----------------- NUT THEM SAN PHAM ------------------------------- */
#openAddForm{ 
    width: 140px;
    height: 30px;
    background-color: #5B42F3;
    font-size:15px;
    
}
.container__product__btn-searchbar{
    display: flex;
    gap:10px;
    
}
.container__product__searchbar{
    width: 300px;
    height: 30px;
    background-color:rgb(255, 255, 255);
}

.container__searchbar-input{
    width: 100%;
    height: 100%;
    border:none;
    outline:none;
    font-size:1.4rem;
    padding:0 16px;
    border-radius: 3px;
}

/* truong upload file anh */
.file__input{
    outline: solid 2px black;
    margin-top: 30px;
    padding-top:10px;
    height: 45px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 10px;
    vertical-align: middle;
    color:gray;
}

.file__input:nth-child(2){
    width: 90%;
    margin-left:20px;
}






/* -----------------phan bang -------------- */
.container__table{
    width: 100%;
}

.container__table tr td {
    padding: 12px 0;
    /* tao duong ke giua moi gian hang */
    border-bottom: 1px solid rgb(197, 197, 197) ;
 
}


.td__product__name{
  text-align: center;
}
/* chinh anh trong gio hang */
.td__product__img img{
    width: 70px;
}

/* PHAN FORM THEM SAN PHAM */
.container__addProduct{
    position: fixed;
    width: 800px;
	height: 550px;
    top:15%;
    left:25%;
    background-color: rgb(255, 255, 255);
    display: none;

}
/* nut X DONG FORM */
#closeAddForm{
    background-color: red;
    position: absolute;
    top:10px;
    right:10px;
    width: 20px;
    height: 20px;
}

.addProduct__title{   	
	text-align: center;
	padding-top: 2.5rem;
	padding-left:2rem;
	font-size:2rem;
    color:blue;
}


.form__input-wrap{
	padding:0 2rem;
}

.form__input{
	margin-top: 30px;
	height: 45px;
	width: 100%;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 10px;
}


.btn-submit{
	width: 20%;
	height: 45px;
	/* padding: 15px 210px; */
	border: none;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
	color: #fff;
    border-radius: 2rem;
}

.form__input-wrap-submit{
    display: flex;
    justify-content: center;
}



/* --------------------PHAN FORM CHINH SUA SAN PHAM------------------------- */
.container__editProduct{
    position: fixed;
    width: 800px;
	height: 550px;
    top:15%;
    left:25%;
    background-color: rgb(255, 255, 255);
    display: none;
}


#closeEditForm{
    background-color: red;
    position: absolute;
    top:10px;
    right:10px;
    width: 20px;
    height: 20px;
}
/* bang hien thong bao them thanh cong */

.alert {
    position: fixed;
    bottom:10px;
    left:10px;
    padding:10px;
    width: 400px;
    border-radius:5px;
    box-shadow:0 0 15px 5px #ccc;
    font-family:Quicksand;
    font-size: 1.6rem;
    visibility: hidden;
    /* transition: visibility 3s, opacity 0.5s linear; */

}

.alert-addCartSuccess{
    background-color: #a8f0c6;
}

  
/* ------------------------------PHAN THONG TIN TAI KHOAN--------------------------- */ 
.account__info{
    margin:auto;
    width: 1050px;
    
    
}

.account__info__header{
    margin-top:20px;
    text-align: center;
    font-size:2rem;
    margin-bottom: 50px;
    border: 3px  rgb(17, 0, 255) solid;
}


.account__container{
    display: flex;
    justify-content: space-between;
}
.account__container h3{
    line-height: 30px;
    font-size: 1.5rem;
}