
body{
    background-color: #080710;
    background-image: url("https://static.vecteezy.com/system/resources/previews/008/353/314/original/realistic-smartphone-mockup-presentation-template-clean-minimal-phone-ui-website-landing-page-style-background-with-copy-space-vector.jpg");
}

form{
    height: 520px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 80%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *{
  font-family: 'Roboto',sans-serif;color: #000000;
  letter-spacing: 0.5px;

}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    /* padding: 0 10px; */
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
}

.form__input{
  padding-left: 10px;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #6709ff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.social div{
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255,255,255,0.27);
    color: #01050e;
    text-align: center;
    border: 3px solid;
   
}
.social div:hover{
    background-color: rgba(4, 0, 255, 0.47);
}
