:root{
    --white-color:#fff;
    --text-color:#333;

}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    background-color: rgba(124, 124, 124, 0.788)

}

.grid{
    width: 1200px;
    /* doi voi man hinh nho hon 1200 van full */
    max-width: 100%;
    /* tu dong can giua trai phai */
    margin: 0 auto;
    
}

.grid__full-width{
    width: 100%;

}

.grid__row{
    /* cac phan tu thuoc lop nay se nam ngang */
    display: flex;
    /* cac phan tu se xuong dong khi het */
    flex-wrap: wrap;
}


body{
	margin: 0 auto;
	background-image: url("../image/technology.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px;


}

.modal-login{
	position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* display: flex; */
	z-index: -1;
	
}

.modal__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);

}

.noti-center{
	position: absolute;
    top: 50%;
    left: 10%;
	text-align: center;
	font-size: 18px;
	width: 1200px;
 
	
}
.container_login{
	width: 500px;
	height: 450px;
	text-align: center;
	margin:  auto;
	background-color: rgba(255, 255, 255, 1);
	position: relative;
	display: none;
	
	z-index: 5;
}

.login__title{
	/* padding-left: 40px; */
	text-align: left;
	padding-top: 2.5rem;
	padding-left:2rem;
	font-size:2rem;
}

.form__input-wrap{
	padding:0 2rem;
}
.login-failed{
	
	margin:2rem 2rem;
	background-color: #ff0000;
	height: 45px;
	text-align: center;
	/* can giua theo ca chieu ngang lan doc */
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}
.form__input{
	margin-top: 30px;
	height: 45px;
	width: 100%;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 10px;
}


.btn-login{
	margin-top: 30px;
	width: 100%;
	height: 45px;
	/* padding: 15px 210px; */
	border: none;
	background-color: #27ae60;
	color: #fff;
}

.btn__login-center{
	background-color: blue;
	/* border: solid 3px white; */
	/* color:white; */ 
}

#btn__login-close{
	position: absolute;
	right:15px;
	top:15px;
}